<div class="container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>');">
    <div class="container">
      <h1><%= @list.name %></h1>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <% @list.bookmarks.each do |bookmark| %>
    <img src= <%= bookmark.movie.poster_url %> class="card-img-top" alt="...">
    <div class="card-body">
      <div class="card-body-top">
        <h5 class="card-title"><%= bookmark.movie.title %></h5>
        <p class="card-text"><%= bookmark.movie.rating %> <i class="fas fa-star"></i></p>
      </div>
      <p class="card-text"><%= bookmark.movie.overview %></p>
      <div class="card-body-bottom">
        <p><%= bookmark.comment %></p>
        <%= link_to "Remove",
                    bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to "Add a Movie",  new_list_bookmark_path(@list) %>
  <%= link_to "Back to the list", root_path %>
</div>
